.sec-list{
    padding: 80px 0;
}

.contact-section{
background-color:#082017 !important;
 height: 50vh;
 width: 100vw;
}
.contact-main{
    display: flex;
    
}
.head-contact{
width: 50vw;
height:50vh;
margin: 3rem;
color: aliceblue;
}
.head-conta-btn {
    margin: 1rem;
    height: 3rem;
    width: 7rem;
    color: black !important;
    background: white !important;
}
.btn{
    border-radius: none !important;
}
.cont-img img{
    width: 50vw;
    height:50vh;
    object-fit: cover;
}
.tab-sec-list{
    width:100vw;
    padding:6rem 3rem;
    display: flex;
    gap: 1rem !important;
    background-color:white;
}
.sec-tab-head{
    text-align: center;
    padding:2rem;
}

.sec-tab-head h1{
  margin-bottom:2rem;
}

.section-ownExp{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 5rem 4rem;
 background:gainsboro;
}


.ownSec-main{
    display: flex;
    flex-direction: column;
    gap: 2rem ;
}

.sec-ownership{   
display: flex;
width: 50vw;
gap: 1rem;
}
.sec-owner-fc{
    display: flex;
}   

.sec-mini-exp img{
  height: 4rem;
}