.home_secnd {
  padding: 80px 0;
  position: relative;
}
.conatainer {
  max-width: 1320px;
  min-width: 1200px;
}

.btn-dark {
  background-color: #082017;
  color: #ffffff !important;
  padding: 12px 24px 10px 24px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.home_secnd p:first-child {
  letter-spacing: 0.1em;
}
.home_secnd p {
  font-weight: 400;
  font-size: 14px;
  color: #082017;
  margin-bottom: 8px;
}

.home_secnd h2 {
  font-weight: 400;
  font-size: 48px;
  color: #082017;
  width: 100%;
  max-width: 502px;
  margin-bottom: 32px;
}
h2 {
  line-height: 1.2;
}
.home_scnd .house {
  width: 56px;
  height: 56px;
}
.home_scnd {
  padding: 80px 0;
  position: relative;
}
.text{
    text-align: start;
}

.sect-frac {
    width: 100vw !important;
}

.frc-img img{
 object-fit:cover !important;
}
.explore-frc h1{
 text-align: center;
}

